.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 50px 100px 80px;
    height: 100%;
    box-sizing: border-box;
    position: relative;

    .body {
        display: flex;
        gap: 10px;
        flex-direction: column;

        .linkContainer {
            perspective: 120px;
            perspective-origin: bottom;
        }
    }

    .footer {
        display: flex;
        padding-top: 60px;
        flex-wrap: wrap;


    }
}

.nav .body a {
    text-decoration: none;
    padding: 40px;
    color: black;
    font-size: 36px;
}

.nav .footer a {
    padding-left: 40px;
    color: black;
    width: 50%;
    margin-top: 5px;
}
.languageSelector {
    position: absolute;
    top: 24px;
    left: 120px;
    z-index: 150;
}