.header{
    position: fixed;
    z-index: 50;
    right: 20px;
    top: 30px;
    color: black;
    .menu{
        width: 480px;
        height: 800px;
        background-color:#cbacf9;
        color: black;
        border-radius: 25px;
        position: relative;
    }
}